*{
    box-sizing: border-box;
}

form {
    /* padding: 10px 0px 0px 10px; */
}

.signee-details-section{
    padding: 10px 10px 10px 10px;
}

input, #address {
    border: solid 1px black;
}

#checkbox{
    margin-top: 5px;
}

.sign-contract-section{
        padding: 10px 10px 10px 10px;

}

#person{
    width: 35px;
    margin-right: 5px;
}

#clear{
    width:22px;
    margin-right: 3px;
}
